
.data-table td.left-align {
  text-align: left !important;
}

.data-table td.center-align {
  text-align: center !important;
}



.viewpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.filter-Search-inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid rgb(224, 223, 223);
  border-radius: 6px;
  padding: 4px;
  flex-grow: 2;
}

.search-input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.filter-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  min-width: 120px;
}

.rows-per-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
  padding-left: 15px;
}

.rows-per-page-container label {
  margin-left: 5px;
}

.data-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 8px; 
}

.data-table th,
.data-table td {
  border: none;
  padding: 16px 12px; 
  text-align: left;
  vertical-align: middle;
  word-wrap: break-word;
}

.data-table th {
  background-color: #003f5c99;
  color: white;
  font-size: 18px;
  text-align: center; 
}

.data-table tr {
  border-bottom: 1px solid rgba(183, 183, 183, 0.3);
}

.table-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #003f5c;
  margin-left: 1px;
  padding-top: 20px;
}

.table_container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
}

tbody tr:nth-child(even) {
  background-color: #f7f7f7; 
}

tbody tr:hover {
  background-color: rgba(116, 112, 112, 0.1); 
  transition: background-color 0.2s ease-in-out; 
}

tbody td select {
  width: 80%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  height: auto;
  line-height: 1.2;
}

.notification-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.notification-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #d00c4d;
  justify-content: space-between;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 12%;
}

.data-table th:nth-child(3),
.data-table td:nth-child(3) {
  width: 35%;
}

.data-table th:nth-child(4),
.data-table td:nth-child(4) {
  width: 18%;
}

.data-table th:nth-child(5),
.data-table td:nth-child(5) {
  width: 20%;
}

.data-table th:nth-child(6),
.data-table td:nth-child(6) {
  width: 10%;
}

.data-table th:nth-child(7),
.data-table td:nth-child(7) {
  width: 5%;
}

/* Button styles */
.edit-button {
  padding: 6px 12px; 
  background-color: #10a37f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.edit-button:hover {
  background-color: #0c795d; 
}

.edit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
