.moderator-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    font-family: Arial, sans-serif;
}



/* Header banner with title */
.header-banner {
    width: 100%; 
    text-align: center;
    background-color: #2b5a77; 
    color: white;
    padding: 20px 0; 
    margin: 20px 0 10px; 
    border-radius: 10px;
}

.header-banner h1 {
    margin: 0;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Toggle buttons */
.toggle-buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0; 
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #7290B0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
}

.toggle-buttons button.active {
    background-color: #004D60;
}

.toggle-buttons button:hover {
    background-color: #004D60;
}

/* Page Name Styling */
.pagename {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:  #072040;
    margin: 20px 0;
}

/* Table styling */
.table-container {
    margin-top: 30px;
    text-align: center;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin: 0 auto; 
    max-width: 1200px; 
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
}

.styled-table th {
    background-color: #2b5a77; 
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tr:hover {
    background-color: #eaeaea;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination-btn {
    margin: 15px;
    padding: 10px;
    background-color: #7290B0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-btn.active {
    background-color: #072040;
}

.pagination-btn:hover {
    background-color: #072040;
}

/* Notifications container */
.notifications-container {
    text-align: center;
    margin-top: 30px;
}

