/* Main container for the profile page */
.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Header with back arrow */
.profile-header {
  display: flex;
  align-items: center;
  background-color: #003f5c; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
  padding: 22px 22px;
  color: white;
  width: 100%;
}

.profile-header h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

.back-btn {
  background: none;  
  border: none;  
  color: white;  
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px; 
  text-decoration: none; 
}

.back-btn:hover {
  color: #ffffff; 
}

.back-icon {
  margin-right: 8px;
  font-size: 22px;
}

/* Profile content section */
.profile-content {
  display: flex;
  justify-content: center;
  margin: 35px auto;
  max-width: 900px;
  width: 100%;
  text-align: center;
  color: #072040;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  padding: 0 10px;
}

/* Profile details (left side) */
.profile-details {
  flex: 1 1;
  background: linear-gradient(700deg, #004D60, #6084a9);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-details h3 {
  margin: 0;
  font-size: 24px;
  
}
.profile-form-container h2{
  margin-top: 10px;

}

.profile-details p {
  margin: 5px 0 15px;
  color:#fff;
}
/* Profile form (right side) */
.profile-form-container {
  width: 60%;
  background-color: #f7f8f8;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3F7EA6;
}
.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-row label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #072040; 
}



.formProf-input {
  width: 100%;
  padding: 12px;
  margin: 5px;
  border: 2px solid #3F7EA6;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f4f6f9;
}

.formProf-input[readonly] {
  border: 2px solid #a9a9a9; 
}


.save-button {
  width: 100%;
  padding: 12px;
  margin: 10PX;
  background-color: #2b5a77;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #366994;
}

.delete-button {
  width: 100%;
  padding: 12px;
  margin: 10PX;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff3b3b;
}

