.descrptionpage{
  overflow-x: hidden;
}

main {
  width: 90%;
  max-width: 90rem;
  margin: auto;
  padding-bottom: 5%;
  
}

button {
  background-color: #d3dbe4;
  /* Green background */
  border: none; /* No border */
  color: #052949;
  /* White text */
  padding: 10px 25px; /* Some padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Get it to act like a block */
  font-size: 16px; /* Larger text */
  margin: 4px 5px; /* Some margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #afc6de; /* Darker green on hover */
}

#CoreDimintion {
  border: 1px solid #ddd;
  border-radius: 5px;

  justify-content: center;
  padding: 5rem;
  margin-bottom: 3rem;
  color: white;

  background-color: #ced2d4;
  background:  linear-gradient(500deg,#002a40, #99b3ce); 
  background: #406882;



  padding: 6rem;
  margin-bottom: 4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p.discrptiontext{
  color: white;
  inline: size 1px;
  text-align: justify;
}
#cardsection {
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  justify-content: center;
 
  /* background-color: #4c62682b; */
  background-color: #4c62681d;


  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#cardsection h2 {
  padding-left: 33vw;
  padding-bottom: 5vw;
padding-top: 2rem;


  font-size: 2.2rem;
  font-weight: bold;
  color: #003f5c;


}

.row {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around; /* Center items vertically */
  width: 100%; /* Full width of the card */
  padding: 10px; /* Add padding around the row */
  margin: 0; /* Remove default margin */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
/* chang name of container in github*/
.containerrows {
  display: flex; /* Use Flexbox to arrange children */
  flex-wrap: wrap; /* Allow wrapping to the next line */
  justify-content: center; /* Center items horizontally */
  margin: 0 auto; /* Center the container */
}

.row {
  width: 100%; /* Ensures row takes full width */
  display: flex; /* Use Flexbox to align children */
  justify-content: space-around; /* edit to git hub */
  margin: 15px 0; /* Space between rows */
}

.col-md-6 {
  display: flex; /* Use Flexbox for each column */
  justify-content: center; /* Center the card within the column */
}

#corner-ball {
  position: relative; /* Use absolute positioning */
  top: 3rem; /* Distance from the top */
  left: 22rem; /* Distance from the left */
  /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  z-index: 10;
  width: 5%;
  height: 20%;

  /* Ensure it appears above other elements */
}

#aboutlogo {
  position: relative; /* Use absolute positioning */
  top: 2.5rem; /* Distance from the top */
  right: 3rem; /* Distance from the left */
  /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  z-index: 10;
  width: 5%;
  height: 20%;
}


